.box {
    display: flex;
    align-items: flex-start;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
  }

#review{
    background-color:red(0, 123, 255, .15);
    color: red;
}
