body {
    font-family:'Times New Roman', Times, serif;
}
p::first-line{
    color: olive;
    font-variant: small-caps;
    border: 2px solid green; 
    border-radius: 8px;
    border-style: outset;
}
p {
    color: blue;
    text-align: center;
    border-left: 5px solid blue;
}
#p1 {
    color:red;
    text-align: centre;
    background-color: purple;
    border-bottom: 3px solid red; 
    border-style: double;
}
#p2 {
    color:palevioletred;
    text-align: right;
    font-size: 80px;
    background-image: url('https://d18lkz4dllo6v2.cloudfront.net/cumulus_uploads/entry/20978/simpsons%20illustrative.png?pw=1200');
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: scroll;
}
#p3 {
    color:green;
    text-align: left;
    background-color: peru;
    border: 5px solid red;
}
h1::before{
    content: url(https://i.pinimg.com/originals/fd/e2/4b/fde24b89a56e6bbf894cb01699a1728c.gif);
}
img  {
    /* transform: rotate(20deg) rotateZ(90deg); */
}
.center {
    text-align: center;
    color: purple;
    font-size: large;
  }

  // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
  @include media-breakpoint-up(sm) { ... }
  @include media-breakpoint-up(md) { ... }
  @include media-breakpoint-up(lg) { ... }
  @include media-breakpoint-up(xl) { ... }
  
  // Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
  .custom-class {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    .custom-class {
      display: block;
    }
  } 
  /* .themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  } */
  /* .themed-container {
    padding: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
  } */
  /* *{
    width: 250px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px;
    overflow-y: scroll;
  } */
  /* .box {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
    flex: 1 1 auto;
} */
.box {
  display: flex;
  background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}

.three {
  flex: 1 1 auto;
}